.navbar {
    background-color: #0085FE;
    font-size: 50px;
}

.card {
    width: 307px !important;
    height: 215px !important;
    margin: 48px 0px 0px 12px;
    border: 2px solid teal !important;
    background-color: #9AEFF4 !important;
    box-shadow: 5px 5px 10px #808080a5;
   
}